services:
  mysql:
    image: mysql:8.0
    container_name: mysql-blockchain
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: blockchaindb
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "admin", "-padmin"]
      timeout: 20s
      retries: 10
      start_period: 30s
      interval: 10s
    networks:
      - blockchain-network

networks:
  blockchain-network:
    driver: bridge

volumes:
  mysql_data: